[Unit]
Description=Encrypted Fomo Lens backup
OnFailure=fomo-lens-alert@%n.service
[Service]
Type=oneshot
ExecStart=/opt/fomo-lens/ops/backup.sh
UMask=0077
